<div class="main">
    <div class="main__pass_ident">
        <label class="main__pass_ident__pass-txt" for="password">Password:</label>
        <input 
            class="main__pass_ident__password-input" 
            type="password" id="password" 
            placeholder="Write a password..."
            [(ngModel)]="password" 
            (input)="updateStrength()" 
        />

        <div 
            class="main__pass_ident__password-section" 
            *ngFor="let color of strength; let i = index" 
            [style.background-color]="color"
        >
            {{strengthLabels[i]}}
        </div>
    </div>

</div>
