.main {
    justify-content: center;
    display: flex;

    &__pass_ident {
        display: grid;
        margin-top: 100px;

        &__pass-txt {
            margin: 15px;
            text-align: center;
            font-weight: 800;
        }

        &__password-input {
            width: 300px; 
            padding: 10px; 
            margin-bottom: 15px; 
            border-radius: 15px; 
        }

        &__password-section{
            width: 300px; 
            padding: 10px; 
            margin-bottom: 15px; 
            border-radius: 15px; 
        }
    };
}

